body {
    padding-top: 65px;
}

.navbar {
    background-color: #2D2D2D;  
    color: white;
}

.navbar-brand {
    padding: 0;
}


/* #067ab4 */
#header {
    background: url(images/header.jpg);
    /* Photo by Bernard Hermant on Unsplash */
    /* background: url(imgs/header.jpeg) center center / cover no-repeat; */
}
